button, input:focus {
    outline: 0;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #49505d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.card {
    width: 40px;
    height: 40px;
}
.box {
    border: 1px solid lightgray;
    text-align: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.num_button {
    background: inherit;
    color: white;
}
.num_button:hover {
    cursor: pointer;
    background: #398ff2;
}
.niceBtn {
    border: none;
    background: #398ff2;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}
.niceBtn:hover {
    background: #224a81;
}